<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件渲染</title>
    <script type="text/javascript" src="../../js/vue.js"></script>
</head>
<!--
条件渲染
1.v-if
写法：
（1）.v-if="表达式"
（2）.v-else-if="表达式"
(3).v-else="表达式"
适用于：切换频率低的场景
特点：不展示dom元素直接被移除
注意：v-if可以和：v-else-if、v-else一起使用。但要求结果不能被打断

2.v-show
写法： v-show=“表达式”

适用于：切换频率较高的场景
特点：不展示DOM元素未被移除，仅仅是使用样式隐藏

3.备注：使用v-if的时候，元素可能无法获取到，而使用v-show一定可以获取到


-->
<body>
<div id="root">
    <!--使用v-show来进行条件渲染-->
    <h2 v-show="true">欢迎来到2022年,{{name}}</h2>
    <h3 v-if="a">欢迎来到2022年,{{name}}</h3>
    <h2 >当前值是{{n}}</h2>
    <button @click="n++">点我</button>
    <div v-if="n==1">java</div>
    <div v-else-if="1">js</div>
    <div v-else="4">C++</div>
    <div v-show="n==3">C#</div>
    <div v-if="n==2">ts</div>

   <template v-if="n==5">
       <h2>1</h2>
       <h2>2</h2>
       <h2>3</h2>
   </template>

</div>
</body>

<script type="text/javascript">
    Vue.config.productionTip = false
    let vue = new Vue({
        el: '#root',
        data: {
            n:0,
            a:true,
            name: '张三'
        }
    });
</script>
</html>